In [12]:
from dash import Dash, html, dcc, callback, Output, Input
import plotly.express as px
import pandas as pd
import numpy as np

c:\Users\isaac\miniconda3\envs\data-science\Lib\site-packages\requests\__init__.py:86: RequestsDependencyWarning: Unable to find acceptable character detection dependency (chardet or charset_normalizer).
  warnings.warn(

In [ ]:
df = pd.read_csv('data/ourworldindata_covid.csv')

In [6]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,new_deaths_smoothed,total_deaths_per_million,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
count,4.972530e+05,4.942790e+05,4.930740e+05,497253.000000,494279.000000,493074.000000,4.972530e+05,495074.000000,493861.000000,497253.000000,...,4.951910e+05,487193.000000,489200.000000,0.0,399684.000000,322051.000000,431711.000000,231495.000000,309562.000000,0.0
mean,1.382299e+07,1.098854e+04,1.101544e+04,127231.714734,103.172983,103.429175,1.521615e+05,105.009419,105.269129,908.526405,...,1.312508e+08,382.744649,31.191101,NaN,22556.521269,11.067402,9.055038,59.264990,3.184893,NaN
std,7.232246e+07,1.195768e+05,1.020819e+05,173097.774202,1004.101224,516.402721,7.645669e+05,819.054027,754.532487,1171.856447,...,6.694570e+08,1742.966454,9.666775,NaN,22564.623407,18.379679,5.232482,31.876690,2.566228,NaN
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,...,5.010000e+02,0.136360,14.298000,NaN,708.178284,0.000000,1.100000,3.440189,0.300000,NaN
25%,8.544000e+03,0.000000e+00,0.000000e+00,2880.198700,0.000000,0.000000,6.700000e+01,0.000000,0.000000,36.241188,...,4.553260e+05,36.265621,22.243999,NaN,5155.620117,0.243796,5.600000,26.200474,1.320000,NaN
50%,8.085800e+04,0.000000e+00,5.857143e+00,42892.805000,0.000000,1.122363,1.009000e+03,0.000000,0.000000,374.382170,...,6.035057e+06,92.081375,31.683001,NaN,14740.009766,1.318269,7.400000,70.153603,2.600000,NaN
75%,1.044943e+06,7.700000e+01,2.238571e+02,184227.030000,9.171056,36.369626,1.203100e+04,0.000000,2.142857,1422.329300,...,2.971538e+07,237.440125,39.080002,NaN,34663.496094,15.617013,11.100000,88.469353,4.260000,NaN
max,7.781636e+08,8.401906e+06,6.402033e+06,769887.940000,231770.160000,37737.870000,7.097003e+06,57167.000000,14820.714000,6603.569300,...,8.021407e+09,21342.697266,59.875000,NaN,117746.992188,80.730057,30.799999,100.000000,13.800000,NaN

In [17]:
df.head()

,country,date,total_cases,new_cases,new_cases_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths,new_deaths,...,population,population_density,median_age,life_expectancy,gdp_per_capita,extreme_poverty,diabetes_prevalence,handwashing_facilities,hospital_beds_per_thousand,human_development_index
0,Afghanistan,2020-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
1,Afghanistan,2020-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
2,Afghanistan,2020-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
3,Afghanistan,2020-01-04,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN
4,Afghanistan,2020-01-05,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,...,40578801.0,62.215477,16.752001,NaN,1516.273315,NaN,10.9,48.214695,0.39,NaN